html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f0f0f0; /* Optioneel: voeg een achtergrondkleur toe */
}

.weather-input-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  text-align: center;
}

.weather-input-container h1 {
  margin-bottom: 20px;
}

.form-box {
  width: 100%;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="number"] {
  width: 100%; /* Verander de breedte naar 100% */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button-group {
  text-align: center;
}

.button-group button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #0056b3;
}

.link-style {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.link-style:hover {
  text-decoration: underline;
}